<!-- Menu Modal-->
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Menu </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="ul-game-menu" >
            <li class="nav-item">
                <a class="nav-link btn-primary shadow-sm btn btn-sm" href='#' role="button" data-toggle="modal" data-target="#joinRoomModal">
                  <span>Join Room</span></a>
              </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link btn-primary shadow-sm btn btn-sm" href='#' role="button">
                <span>Surrender</span></a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link btn-primary shadow-sm btn btn-sm" href='#' role="button">
                <span>Start Game </span></a>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>